@import '../../App.scss';
.login-button {
    background-color: dodgerblue;
    color: aliceblue;
    border: none;
    width: 200px;
    height: 31px;
    opacity: 75%;
    transition-duration: 0.5s;
}

.login-button:hover {
    opacity: 100%;
    border-radius: 16px;
    cursor: pointer;
}

.login-button:active {
    background-color: red;
    color: dodgerblue;
}