:root {
    --text-color: rgb(0, 0, 0);
    --primary-background: rgb(31, 32, 37);;
}

body {
    background-color: rgb(57, 57, 62);
    color: rgb(192, 149, 31);
}

a{
    color: rgb(219, 84, 75);
}

.container {
    background-color: rgb(57, 57, 62);
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-gap: 1rem;
}

@media (min-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.tile {
    background-color: var(--primary-background);
    margin: 1rem;
    display: grid;
    padding: 0.5rem;
    height: 20rem;
    overflow: hidden;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.3fr repeat(3, 1fr);
    grid-template-areas: "head  head  head head mini"
                         "logo  logo  name name name"
                         "tags  tags  desc desc desc"
                         "link  link  why  why  why";
}

.minimised-tile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: ".    logo ."
                         "name name name"
                         "tags tags maxi";
    background-color: var(--primary-background);
    width: 200px;
    height: 200px;
}


.logo-tile{
    display: grid;
    place-items: center;
}

.logo-image{
    grid-area: logo;
    display: grid;
    place-items: center;
}

.channel-logo{
    border-radius: 50%
}

.channel-title{
    grid-area: name;
    font-size: x-large;
    justify-content: center;
}

.channel-description{
    grid-area: desc;
    font-size: small;
    color: rgb(219, 84, 75);
}

.channel-why{
    grid-area: why;
    font-size: small;
}

.channel-link{
    grid-area: link;
    font-weight: lighter;
}

.channel-tags{
    grid-area: tags;
    display: grid;
    font-weight: lighter;
}

.tile * {
    display: grid;
    place-items: center;
}

.tag:hover{
    cursor: pointer;
}

.minimize-button{
    grid-area: mini;
    width: 50%;
}

.maximize-button{
    grid-area: maxi;
    width: 50%;
    padding: 1rem;
}

.min-channel-logo{
    grid-area: logo;
    border-radius: 50%;
    padding: 0.3rem;
}

.mchannel-title{
    grid-area: name;
    display: grid;
    place-items: center;
}

.mchannel-tags{
    grid-area: tags;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: x-small;
    font-weight: lighter;
    padding: 0.3rem;
}

.toggle-all-button{
    
}